<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<div id="container" style="height: 400px; min-width: 500px"></div><div class="info">In a non ordinal axis, the true linear nature of the axis is preserved, so weekends will appear as longer intervals than nights.</div>