<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<div id="container" style="height: 400px; min-width: 500px"></div><div class="info">In an ordinal axis, the points are evenly spaced regardless of the actual X distance between them. In this sample, the space between Friday and Monday is the same as that between Monday and Tuesday.</div>